@model IEnumerable<WebLab.Задачи>

@{
    ViewData["Title"] = "Задачи Студенты";
}

<h1>Задачи принятые к исполнению Студентом @ViewBag.CategoryName</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Create New</a> |
    <a class="text-decoration-none" asp-action="Index", asp-controller="Студенты">To Students List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Пользователь)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Место)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Описание)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сценарий)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сценарий.КВоАктёров)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Пользователь.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Место)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Описание)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сценарий.Описание)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сценарий.КВоАктёров)
                </td>
                <td>
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="text-decoration-none" asp-action="DetailsStudents" asp-route-id="@item.Id">Students that confirm this Task</a> |
                    <a class="text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>