@model IEnumerable<WebLab.Преподаватели>

@{
    ViewData["Title"] = "Преподают в ВУЗе";
}

<h1>Преподают в ВУЗе @ViewBag.CategoryName</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Create New</a> |
    <a class="text-decoration-none" asp-action="Index", asp-controller="Вузы">To University List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Фио)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Фио)
                </td>
                <td>
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Mail">Edit</a> |
                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.Mail">Details</a> |
                    <a class="text-decoration-none" asp-action="Delete" asp-route-id="@item.Mail">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>