@model WebLab.Группы

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Группы</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Название)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Название)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Вуз)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Вуз.НазваниеВуза)
        </dd>
    </dl>
</div>
<div>
    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="text-decoration-none" asp-action="Index">Back to List</a>
</div>
