@model IEnumerable<WebLab.Группы>

@{
    ViewData["Title"] = "Группы";
}

<h1>Группы</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Create New</a> |
    <a class="text-decoration-none" asp-action="Index" asp-controller="Home">To Main Page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Вуз)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Вуз.НазваниеВуза)
            </td>
            <td>
                <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
