@model IEnumerable<WebLab.СтудентЗадача>

@{
    ViewData["Title"] = "Студент-Задача";
}

<h1>Студент-Задача</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="Index" asp-controller="Home">To Main Page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Задача)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Студент)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Задача.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Студент.Mail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
