@model WebLab.Студенты

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Студенты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Фио)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Фио)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Группа)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Группа.Название)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mail">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
