@model IEnumerable<WebLab.Студенты>

@{
    ViewData["Title"] = "Студенты приняли Задачу";
}

<h1>Студенты исполнят Задачу @ViewBag.CategoryName</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Фио)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Группа)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Группа.Вуз)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Фио)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Группа.Название)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Группа.Вуз.НазваниеВуза)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Mail">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Mail">Details</a> |
                    <a asp-action="StudentTask" asp-route-id="@item.Mail">Tasks taken by this Student</a> |
                    <a asp-action="Delete" asp-route-id="@item.Mail">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>